body {
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px
    }
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    display: table;
    text-align: center
}

.loader {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 200px;
    height: 200px
}

.loader-icon {
    width: 80px;
    height: 80px;
    border: 5px solid #f07677;
    border-right-color: #eee;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    margin: 0 auto
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.scroll-to-top {
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background: #000;
    border: 1px solid #2a2a2a;
    width: 35px;
    height: 35px;
    line-height: 30px;
    z-index: 9999;
    outline: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease
}

.scroll-to-top i {
    color: #fff
}

.scroll-to-top:hover {
    color: #232323;
    background: #fff
}

.scroll-to-top:hover i {
    color: #232323
}

.scroll-to-top:visited {
    color: #232323;
    text-decoration: none
}

.text-theme-color {
    color: #f07677
}

.height-100vh {
    height: 100vh
}

.bg-theme {
    background-color: #f07677
}

.theme-overlay[data-overlay-dark]:before {
    background: #f07677
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

a:hover, a:active {
    color: #f07677;
    text-decoration: none
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 7px 15px;
    background: transparent;
    border: 1px solid #232323;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: #232323;
    letter-spacing: .5px;
    line-height: inherit;
    min-width: 150px;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out
}

.btn:hover, .btn:active {
    background: #232323;
    color: #fff;
    border-color: #232323;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important
}

.btn:focus {
    background: #f07677;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
    border-color: #f07677
}

.btn.theme {
    background: transparent;
    border: 1px solid #232323;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: #232323;
    min-width: 170px
}

.btn.theme:hover, .btn.theme:active {
    background: #f07677;
    color: #fff;
    border-color: #f07677
}

.btn.theme:hover span, .btn.theme:active span {
    color: #fff
}

.btn.theme:focus {
    background: transparent;
    color: #f07677;
    border-color: #f07677
}

.btn.white {
    border-color: #fff;
    color: #fff
}

.btn.white:hover {
    border-color: transparent
}

@media screen and (max-width: 1199px) {
    .btn {
        min-width: 140px;
        font-size: 13px;
        padding: 8px 20px
    }

    .btn.theme {
        min-width: 160px
    }
}

@media screen and (max-width: 991px) {
    .btn {
        min-width: 130px;
        font-size: 13px;
        padding: 7px 19px
    }

    .btn.theme {
        min-width: 140px
    }
}

@media screen and (max-width: 767px) {
    .btn {
        min-width: 125px;
        font-size: 12px;
        padding: 4px 16px
    }

    .btn.theme {
        min-width: 130px
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px
    }
}

@media screen and (max-width: 575px) {
    .mobile-margin-30px-bottom {
        margin-bottom: 30px
    }
}

.banner-headline {
    font-size: 60px;
    line-height: 1.2
}

.banner-headline.clip span {
    display: inline-block;
    padding: .2em 0
}

.caption .highlight {
    color: #f07677
}

.banner-headline.clip b {
    opacity: 0
}

.banner-headline b.is-visible {
    opacity: 1
}

.owl-theme .owl-dots .owl-dot {
    margin-top: 15px
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 5px 4px 0 4px
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    border-color: #fff
}

@media only screen and (min-width: 768px) {
    .banner-headline {
        font-size: 4.4rem;
        font-weight: 300
    }
}

@media only screen and (min-width: 1170px) {
    .banner-headline {
        font-size: 6rem
    }
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9999;
    min-height: 70px;
    padding: 0;
}

.navbar .icon-bar {
    color: #fff
}

.navbar.bg-black {
    background: #232323;
    border-bottom: none
}

.navbar.bg-black .navbar-nav .nav-link.active {
    color: #f07677
}

.navbar.bg-black.nav-scroll .navbar-nav .nav-link {
    color: #fff
}

.navbar.bg-black .navbar-nav .nav-link:hover, .navbar.bg-black.nav-scroll .navbar-nav .nav-link.active {
    color: #f07677
}

.navbar.bg-black .navbar-nav .nav-link.btn.small:hover, .navbar.bg-black .navbar-nav .nav-link.btn.small.active {
    color: #fff
}

.navbar .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: #eee;
    letter-spacing: .5px;
    margin: 0;
    padding: 10px 15px;
    transition: all .5s;
    text-align: left;
    text-transform: uppercase
}

.navbar .navbar-nav .nav-link:hover {
    color: #f07677
}

.navbar .navbar-nav .nav-link.active {
    color: #f07677;
    position: relative
}

.nav-scroll {
    background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px);
    z-index: 99
}

.nav-scroll.bg-black .icon-bar {
    color: #fff
}

.nav-scroll .icon-bar, .nav-scroll .navbar-nav .nav-link {
    color: #232323
}

.navbar-toggler {
    background: #f07677;
    width: 40px;
    height: 35px;
    padding: 0;
    border-radius: 0;
    position: absolute;
    right: 15px;
    top: 21px;
    cursor: pointer;
    z-index: 12399994;
    border: none
}

.navbar-toggler .icon-bar:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 17px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    display: block;
    content: ""
}

.navbar-toggler .icon-bar:before {
    top: 17px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    right: 10px;
    display: block;
    height: 2px;
    content: ""
}

.navbar-toggler.collapsed .icon-bar:after {
    position: absolute;
    top: 17px;
    right: 10px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: "";
    background: none;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.navbar-toggler.collapsed .icon-bar:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 11px;
    right: 10px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: "";
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.nav-scroll .navbar-nav .logo {
    padding: 15px 0
}

.logo {
    padding: 15px 0;
    width: 125px
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse.desktop-hide {
        display: none !important
    }
}

@media screen and (max-width: 1399px) {
    .navbar > .container {
        padding-right: 3.5rem
    }
}

@media screen and (max-width: 1199px) {
    .navbar .navbar-nav .nav-link {
        padding: 10px;
        font-size: 12px
    }

    .navbar .navbar-nav .btn.small {
        margin-left: 5px;
        padding: 4px 16px;
        margin-top: 4px
    }
}

@media screen and (max-width: 991px) {
    .logo {
        padding: 11px 0 12px 0
    }

    .navbar {
        border: none
    }

    .navbar .navbar-nav .nav-link {
        border-bottom: 1px solid #383838
    }

    .navbar .navbar-nav .btn.small {
        margin: 10px 5px
    }

    .navbar > .container {
        padding-right: 0;
        position: relative
    }

    .navbar .navbar-collapse {
        background: #232323;
        text-align: center
    }

    .navbar .navbar-toggler {
        padding: 8px 0;
        text-align: right;
        width: 40px;
        top: 18px
    }

    .navbar .nav-link {
        display: block
    }

    .navbar .navbar-nav .active:after {
        width: 100%
    }

    .nav-scroll .navbar-collapse .nav-link {
        color: #fff !important
    }

    .nav-scroll .navbar-collapse .active {
        color: #f07677 !important
    }

    .nav-scroll .navbar-collapse .btn.active {
        color: #fff !important
    }
}

.header {
    overflow: hidden
}

.header .caption .overflow-hidden {
    display: inline-block
}

.header .caption h3 {
    animation-delay: 0.5s;
    position: relative;
    display: inline-block
}

.header .caption h1 {
    color: #fff;
    margin: 10px 0;
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 800;
    animation-delay: 0.8s
}

.header .caption p {
    font-size: 18px;
    color: #eee;
    word-spacing: 2px;
    animation-delay: 1.2s
}

.header .btn {
    animation-delay: 1.4s
}

.header .btn i {
    position: relative;
    top: 1px
}

.header .arrow {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8
}

.header .arrow a {
    color: #fff
}

.header .arrow a:hover {
    color: #f07677
}

.header .arrow i {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 12px
}

.header .arrow i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f07677;
    border-radius: 50%;
    z-index: -1;
    transition: all .2s
}

.header .arrow i:hover:after {
    background: #fff;
    transform: scale(1.2);
    transition: all .5s
}

.header .social-links a {
    display: inline-block;
    margin: 0 12px;
    font-size: 18px
}

.header .social-links a:hover {
    opacity: 0.85
}

.header .social-links:last-child {
    margin-right: 0
}

@media screen and (min-width: 1200px) {
    .header {
        height: 100vh
    }
}

@media screen and (max-width: 1199px) {
    .header .caption h1 {
        font-size: 60px
    }
}

@media screen and (max-width: 991px) {
    .header {
        transition-timing-function: none;
        -moz-transition-timing-function: none;
        -webkit-transition-timing-function: none;
        -o-transition-timing-function: none;
        -ms-transition-timing-function: none;
        transition-duration: 0s;
        -moz-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        -o-transition-duration: 0s;
        -ms-transition-duration: 0s
    }

    .header .caption h1 {
        font-size: 50px
    }

    .header .caption h2 {
        font-size: 30px
    }

    .header .caption p {
        font-size: 16px
    }

    .header .social-links a {
        font-size: 16px
    }
}

@media screen and (max-width: 767px) {
    .header .caption h1 {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 15px
    }

    .header .caption h3 {
        letter-spacing: 1px
    }
}

@media screen and (max-width: 575px) {
    .header .caption h1 {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 12px
    }
}

.side-menu {
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
    background: #f07677;
    z-index: 99999;
    height: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    overflow: hidden
}

.side-menu.left {
    left: 0;
    right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.side-menu.black {
    background: rgba(0, 0, 0, 0.95)
}

.side-menu.side-menu-active, .side-menu.before-side {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0
}

#close_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 9999;
    opacity: 0.4
}

.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer
}

.side-menu.before-side .btn-close {
    display: none
}

.side-menu .btn-close:before, .side-menu .btn-close:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px
}

.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    margin-right: 1rem;
    position: absolute;
    right: 25px;
    top: 22px;
    z-index: 99
}

.sidemenu_btn.left {
    left: 15px;
    right: auto
}

.sidemenu_btn > span {
    height: 2px;
    width: 100%;
    background: #fff;
    display: block
}

.sidemenu_btn > span:nth-child(2) {
    margin: 4px 0
}

.nav-scroll .sidemenu_btn > span {
    background: #232323
}

.bg-black.nav-scroll .sidemenu_btn > span {
    background: #fff
}

.bg-white .sidemenu_btn > span, .bg-white.nav-scroll .sidemenu_btn > span {
    background: #232323
}

.side-menu .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.side-menu .side-nav {
    margin-bottom: 30px;
    display: block
}

.side-nav .navbar-nav .nav-item {
    display: block;
    margin: 10px 0;
    padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px)
}

.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}

.side-nav .navbar-nav .nav-item:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s
}

.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s
}

.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s
}

.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s
}

.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #fff;
    padding: 2px 0 3px 0 !important;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0
}

.side-nav .navbar-nav .nav-link:after {
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1)
}

.side-nav .navbar-nav .nav-link:hover:after, .side-nav .navbar-nav .nav-link:focus:after {
    width: 100%
}

.side-nav .navbar-nav .nav-link.active {
    background: transparent
}

.side-nav .navbar-nav .nav-link.active:after {
    width: 100%
}

.side-menu .social-links a {
    color: #fff
}

.side-menu .social-links a:hover {
    opacity: 0.65
}

@media screen and (max-width: 1399px) {
    .sidemenu_btn {
        margin-right: 0
    }
}

.counter span {
    font-style: italic
}

.testimonials p {
    font-size: 36px;
    line-height: 45px
}

@media screen and (max-width: 767px) {
    .testimonials p {
        font-size: 30px;
        line-height: 36px
    }
}

input[type=checkbox], input[type=radio] {
    width: auto;
    margin-top: .5rem
}

.video_btn {
    position: relative;
    height: 50px;
    width: 50px;
    background: #f07677;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    transition-duration: 0s;
    -ms-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s
}

.video_btn:hover i, .video_btn:focus i {
    color: #fff
}

.video_btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.3;
    animation: pulse-border 1500ms ease-out infinite
}

.video_btn:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 65px;
    width: 65px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.3;
    animation: pulse-border 1500ms ease-out infinite
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}

.rsvp-form {
    box-shadow: 0 0 15px #dedede;
    background: rgba(255, 255, 255, 0.85)
}

.rsvp-form .form-control {
    padding: 12px 20px;
    height: 50px
}

.quform-input {
    position: relative
}

.quform-element > label {
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 0;
    color: #6f6f6f
}

.quform-element > label .quform-required {
    color: #cc0101;
    font-size: 10px
}

.quform-inner input {
    width: 100%
}

.quform-elements .quform-element textarea {
    margin-bottom: 0;
    padding: 8px 15px;
    vertical-align: top;
    height: auto
}

.quform-elements .quform-element select {
    margin-bottom: 0;
    padding: 8px 15px
}

.quform-errors {
    padding: 0;
    margin: 0;
    line-height: normal
}

.quform-errors > .quform-error {
    padding: 0;
    background: none;
    border: none;
    float: none;
    color: #f5543f;
    font-size: 11px;
    line-height: normal
}

.quform-outer-no-js .quform-error {
    padding: 0;
    background: none;
    border: none;
    float: none;
    color: #f5543f;
    font-size: 11px;
    line-height: normal
}

.quform-has-error input, .quform-has-error textarea, .quform-has-error select, .quform-has-error input[type="file"] {
    border-color: #f5543f
}

.quform-has-error .custom-file-label {
    border-color: #f5543f
}

.quform-success-message, .quform-outer-no-js .quform-success-message {
    padding: .75rem 1.25rem .75rem 3rem
}

.quform-input .quform-errors-wrap {
    position: absolute;
    right: 8px;
    top: 0;
    line-height: normal
}

.quform-submit-inner {
    float: none
}

.quform-loading-wrap {
    float: none
}

.quform-loading-wrap .quform-loading {
    display: inline-block
}

.light-validation .quform-errors > .quform-error {
    color: #fff
}

.bg-theme-opacity {
    background: rgba(112, 160, 118, 0.6)
}

.social-list {
    position: absolute;
    left: 40px;
    bottom: 10%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    transition: all .8s
}

.social-list ul li i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: -1;
    background: #f07677;
    border: 1px solid transparent;
    transition: all .3s;
    border-radius: 50%
}

.social-list ul li a {
    margin-right: 10px
}

.social-list ul li a:hover i {
    background: transparent;
    border: 1px solid #f07677;
    color: #f07677
}

.team:hover .social-list {
    opacity: 1;
    transition: all .8s
}

@media screen and (max-width: 1199px) {
    .social-list {
        left: 15px
    }
}

@media screen and (max-width: 991px) {
    .social-list {
        left: 75px
    }
}

@media screen and (max-width: 767px) {
    .social-list {
        left: 30px
    }
}

@media screen and (max-width: 575px) {
    .social-list {
        left: 185px
    }
}

@media screen and (max-width: 480px) {
    .social-list {
        left: 135px
    }
}

@media screen and (max-width: 480px) {
    .social-list {
        left: 55px
    }
}

.footer-social a {
    display: inline-block;
    margin: 0 3px;
    background: #f07677;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50px;
    vertical-align: bottom;
    text-align: center
}

.footer-social a:last-child {
    margin-right: 0
}

.footer-social a:hover {
    background: #fff;
    color: #f07677
}

.footer-social a i {
    font-size: 18px
}

.footer-social a:hover i {
    color: #f07677
}

.footer-social.style-two a {
    width: auto;
    height: auto;
    line-height: normal;
    background: none;
    border-radius: inherit;
    margin-right: 15px
}

.footer-social.style-two a:last-child {
    margin-right: 0
}

ul.countdown li {
    display: inline-block;
    padding: 0 40px;
    text-align: center
}

ul.countdown li:last-child {
    padding-right: 0
}

ul.countdown li:first-child {
    padding-left: 0
}

.countdown-block h4:before {
    content: "";
    background-color: #f07677;
    width: 40px;
    height: 1px;
    position: absolute;
    left: 39%;
    top: 50%
}

.countdown-block h4:after {
    content: "";
    background-color: #f07677;
    width: 40px;
    height: 1px;
    position: absolute;
    left: 39%;
    top: 50%;
    left: auto;
    right: 39%
}

ul.countdown li span {
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    font-style: italic
}

ul.countdown li span::before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%
}

ul.countdown li p.timeRefDays, ul.countdown li p.timeRefHours, ul.countdown li p.timeRefMinutes, ul.countdown li p.timeRefSeconds {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-style: italic
}

@media screen and (max-width: 1199px) {
    .countdown-block h4:after {
        right: 38%
    }

    .countdown-block h4:before {
        left: 38%
    }
}

@media screen and (max-width: 991px) {
    ul.countdown li span {
        font-size: 44px
    }

    .countdown-block h4:after {
        right: 34%
    }

    .countdown-block h4:before {
        left: 34%
    }
}

@media screen and (max-width: 767px) {
    ul.countdown li {
        padding: 0 20px
    }

    ul.countdown li span {
        font-size: 40px
    }

    .countdown-block h4:after {
        right: 36%;
        width: 20px
    }

    .countdown-block h4:before {
        left: 36%;
        width: 20px
    }
}

@media screen and (max-width: 575px) {
    ul.countdown li {
        padding: 0 10px
    }

    ul.countdown li span {
        font-size: 30px
    }
}

@media screen and (max-width: 480px) {
    .countdown-block h4:after {
        right: 34%
    }

    .countdown-block h4:before {
        left: 34%
    }
}

@media screen and (max-width: 320px) {
    .countdown-block h4:after {
        right: 26%
    }

    .countdown-block h4:before {
        left: 26%
    }
}

.hover-effect {
    transition: all .3s ease-in-out
}

.hover-effect:hover {
    box-shadow: 0 0 15px #dedede
}

.abouts .hover-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 solid transparent;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: all .3s;
    opacity: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    padding: 15px
}

.abouts:hover .hover-info {
    border-width: 15px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.social-links li {
    padding: 0 0 0 20px;
    display: inline-block
}

.social-links li a {
    color: #fff
}

.owl-carousel .owl-item img {
    width: auto;
    display: inline-block
}

.blog .item {
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    border-radius: 5px
}

.blog .item .post-img {
    position: relative;
    overflow: hidden
}

.blog .item .post-img:hover img {
    transform: scale(1.1)
}

.blog .item .post-img img {
    width: 100%;
    transition: all .5s
}

.blog .item .content {
    padding: 30px;
    background: #fff;
    text-align: left
}

.blog .item .content .tag {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 1px
}

.blog .item .content .read-more {
    margin-top: 20px;
    font-weight: 700
}

.blog .item .content .read-more:hover {
    color: #f07677;
    text-decoration: none
}

.blog .item .content h6 {
    line-height: normal;
    text-transform: inherit;
    margin-bottom: 2px
}

.blog-nav {
    position: static !important;
    background: #fff !important;
    margin: 0;
    top: 0;
    transform: translateY(0px)
}

.blog-nav .logo {
    color: #1c1c1c !important
}

.blog-nav .navbar-nav .nav-link, .blog-nav .icon-bar {
    color: #232323
}

.blog-header {
    background: #232323;
    position: relative
}

.blog-header h2 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #ccc;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif
}

.blog-header a {
    position: relative;
    color: #d5d5d5
}

.blog-header a:after {
    content: '/';
    position: relative;
    margin: 0 10px
}

.blog-header a:last-child:after {
    display: none
}

.blog-header a:hover {
    color: #fff
}

.blog-header a.active {
    color: #f07677
}

.blogs .posts .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee
}

.blogs .posts .comments-area .comment-box:nth-child(odd) {
    margin-left: 80px
}

.blogs .posts .comments-area .comment-box:last-child {
    margin-bottom: 30px
}

.blogs .posts .comments-area .comment-box .author-thumb {
    width: 80px;
    float: left
}

.blogs .posts .comments-area .comment-box .comment-info {
    margin-left: 100px
}

.blogs .posts .comments-area .comment-box .comment-info h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif
}

.blogs .posts .comments-area .comment-box .comment-info .reply {
    margin-top: 10px;
    font-weight: 600
}

.blogs .posts .comments-area .comment-box .comment-info .reply i {
    padding-right: 5px;
    font-size: 12px
}

.blogs .posts .pagination {
    border-radius: 0;
    padding: 0;
    margin: 0
}

.blogs .posts .pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 auto;
    padding: 0
}

.blogs .posts .pagination li {
    display: inline
}

.blogs .posts .pagination a {
    float: left;
    padding: 0 18px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    background: #fff
}

.blogs .posts .pagination a:hover {
    background-color: #232323;
    color: #fff
}

.blogs .posts .pagination .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default
}

.blogs .posts .pagination .disabled span {
    color: #999;
    background-color: transparent;
    cursor: default
}

.blogs .posts .pagination .disabled a {
    color: #999;
    background-color: transparent;
    cursor: default
}

.blogs .posts .pagination .disabled a:hover {
    color: #999;
    background-color: transparent;
    cursor: default
}

.blogs .posts .pagination li:first-child a {
    border-left-width: 1px
}

.blog-list-simple {
    margin: 0 0 30px 0;
    padding-bottom: 30px
}

.blog-list-simple:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.blog-list-simple-text {
    color: #999
}

.blog-list-simple-text > span {
    color: #f07677;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px
}

.blog-list-simple-text p {
    border-top: 1px solid #ececec;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 0;
    padding: 15px 0
}

.blog-list-simple-text .meta {
    margin: 0 0 5px 0
}

.blog-list-simple-text li {
    display: inline-block;
    font-size: 12px;
    color: #777;
    margin: 5px
}

.blog-list-simple-text h4 {
    color: #232323;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
    line-height: normal;
    font-family: 'Poppins', sans-serif
}

.blog-list-simple-text ul {
    margin: 10px 0
}

.blog-list-simple-text ul li {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0
}

.blog-list-simple-text ul li i {
    color: #f07677;
    margin-right: 5px;
    font-size: 14px
}

.blogs .post {
    margin-bottom: 50px
}

.blogs .post .content {
    padding: 30px;
    background: #fafafa
}

.blogs .post .content .post-title h5 {
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif
}

.blogs .post .content .post-title h5 a {
    color: #232323
}

.blogs .post .content .post-title h5 a:hover {
    color: #00bcd1
}

.blogs .post .content .meta {
    margin-bottom: 15px
}

.blogs .post .content .meta li {
    display: inline-block;
    margin: 5px
}

.blogs .post .content .special {
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid #111;
    background: #f7f7f7
}

.blogs .post .content .btn {
    border-color: #6f6f6f;
    color: #6f6f6f;
    min-width: auto;
    padding: 6px 20px;
    font-size: 12px
}

.blogs .post .content .btn:hover {
    color: #fff;
    border-color: #00bcd1
}

.blogs .post .share-post {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #ddd;
    text-align: left
}

.blogs .post .share-post span {
    font-weight: 700
}

.blogs .post .share-post ul {
    float: right
}

.blogs .post .share-post ul li {
    display: inline-block;
    margin: 0 10px
}

.blogs .post .post-img img {
    width: 100%
}

.blogs .posts .title-g h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif
}

.blogs .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee
}

.blogs .comments-area .comment-box:nth-child(odd) {
    margin-left: 80px
}

.blogs .comments-area .comment-box:last-child {
    margin-bottom: 30px
}

.blogs .comment-box .author-thumb {
    width: 80px;
    float: left
}

.blogs .comment-box .comment-info {
    margin-left: 100px
}

.blogs .comment-box .comment-info h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px
}

.blogs .comment-box .comment-info .reply {
    margin-top: 10px;
    font-weight: 600
}

.blogs .comment-box .comment-info .reply i {
    padding-right: 5px;
    font-size: 12px
}

.pagination {
    border-radius: 0;
    padding: 0;
    margin: 0
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 auto;
    padding: 0
}

.pagination li {
    display: inline
}

.pagination a {
    float: left;
    padding: 0 18px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    background: #fff
}

.pagination a:hover {
    background-color: #232323;
    color: #fff
}

.pagination .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default
}

.pagination .disabled span {
    color: #999;
    background-color: transparent;
    cursor: default
}

.pagination .disabled a {
    color: #999;
    background-color: transparent;
    cursor: default
}

.pagination .disabled a:hover {
    color: #999;
    background-color: transparent;
    cursor: default
}

.pagination li:first-child a {
    border-left-width: 1px
}

.blockquote {
    background: #f1f1f1;
    border-left: 4px solid #00bcd1;
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0;
    padding: 20px 30px 30px
}

.blockquote p {
    font-size: 15px;
    font-weight: 500;
    line-height: 190%;
    color: #232323;
    letter-spacing: .5px
}

.blockquote h4 {
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    letter-spacing: .5px
}

.side-bar .widget {
    margin-bottom: 30px
}

.side-bar .widget:last-child {
    margin-bottom: 0
}

.side-bar .widget .widget-title h6 {
    position: relative;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif
}

.side-bar .widget .widget-title h6:after {
    content: '';
    width: 30px;
    height: 1px;
    background: #f07677;
    position: absolute;
    bottom: 0;
    left: 0
}

.side-bar .widget li {
    position: relative;
    padding: 0 0 0 12px;
    margin: 0 0 9px 0;
    color: #6f6f6f
}

.side-bar .widget li:last-child {
    margin: 0
}

.side-bar .widget li:after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #6f6f6f;
    position: absolute;
    top: 12px;
    left: 0
}

.side-bar .widget .social-listing {
    margin-bottom: 0
}

.side-bar .widget .social-listing li {
    list-style: none;
    display: inline-block
}

.side-bar .widget .social-listing li:after {
    background: none
}

.side-bar .widget .social-listing li:first-child {
    padding-left: 0
}

.side-bar .search form input {
    width: calc(100% - 50px);
    height: 50px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #d1d1d1;
    background: #f7f7f7
}

.side-bar .search form button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #f07677;
    border: 0;
    float: right;
    border-radius: 0;
    padding: 0
}

.side-bar .search form button:hover:before {
    border-radius: 0;
    padding: 0
}

@media screen and (max-width: 991px) {
    .blog-nav .navbar-nav .nav-link {
        color: #fff
    }
}

@media screen and (max-width: 767px) {
    .blog-list-simple {
        margin-bottom: 20px;
        padding-bottom: 20px
    }

    .blogs .posts .post .content {
        padding: 20px
    }

    .blogs .posts .post .content .post-title h5 {
        font-size: 22px
    }
}

.buy-theme {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    position: fixed;
    top: 130px;
    right: -89px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999
}

.buy-theme i {
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: #6f6f6f
}

.all-demo i {
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: #6f6f6f
}

.buy-theme:hover, .all-demo:hover {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    right: 0px;
    background: #232323
}

.buy-theme span, .all-demo span {
    padding: 0 9px;
    position: relative;
    top: 0;
    opacity: 0
}

.buy-theme:hover span, .all-demo:hover span {
    opacity: 1;
    color: #fff
}

.buy-theme:hover i, .all-demo:hover i {
    color: #fff
}

.buy-theme a, .all-demo a {
    color: #232323;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 10px;
    display: block;
    text-decoration: none;
    font-weight: 500
}

.all-demo {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    position: fixed;
    top: 172px;
    right: -105px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999
}

.is-countdown {
    border: 1px solid #ccc;
    background-color: #eee
}

.countdown-rtl {
    direction: rtl
}

.countdown-holding span {
    color: #888
}

.countdown-row {
    clear: both;
    width: 80%;
    padding: 0 2px;
    text-align: center
}

.countdown-show1 .countdown-section {
    width: 80%
}

.countdown-show2 .countdown-section {
    width: 48%
}

.countdown-show3 .countdown-section {
    width: 32.5%
}

.countdown-show4 .countdown-section {
    width: 24.5%
}

.countdown-show5 .countdown-section {
    width: 19.5%
}

.countdown-show6 .countdown-section {
    width: 16.25%
}

.countdown-show7 .countdown-section {
    width: 14%
}

.countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center
}

.countdown-amount {
    font-size: 200%
}

.countdown-period {
    display: block
}

.countdown-descr {
    display: block;
    width: 100%
}


.is-countdown {
    border: 1px solid transparent;
    background-color: transparent
}

.countdown-row {
    height: 0;
    padding: 0
}

.countdown-section {
    text-align: center;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%
}

.countdown-show4 .countdown-section {
    width: 24%;
    margin: 20px .5%
}

.countdown-amount {
    font-size: 36px;
    font-weight: 700;
    display: block
}

.countdown-period {
    display: block;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 15px
}

@media (max-width: 767px) {
    .countdown-amount {
        font-size: 24px
    }

    .countdown-period {
        font-size: 18px
    }
}

@media (max-width: 480px) {
    .countdown-amount {
        font-size: 18px
    }

    .countdown-period {
        font-size: 10px
    }
}


#map-canvas {
    height: 450px
}

#map-canvas.small {
    height: 347px
}

#collapseMap {
    overflow: hidden;
    height: 0;
    -webkit-transition: height .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out
}

#collapseMap.in {
    height: 450px
}

.footer-content #map-canvas {
    height: 300px
}

#map-canvas img {
    max-width: inherit
}
